@model _20T1080020.DomainModels.Employee
@{

}
<d
<div class="box box-primary">
    <div class="box-body">
        <form class="form-horizontal" action="~/Employee/Save" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label class="control-label col-sm-2">Họ đệm:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @style = "color:#f00" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Tên:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.LastName, "", new { @style = "color:#f00" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Ghi chú:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Notes, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Sinh nhật:</label>
                <div class="col-sm-10">
                    @Html.HiddenFor(m => m.BirthDate)
                    @if (Model.EmployeeID > 0)
                    {
                        <input type="text" class="form-control" name="Birthday"
                               value="@string.Format("{0:dd/MM/yyyy}", Model.BirthDate)" placeholder="">
                    }
                    else
                    {
                        <input type="text" class="form-control" name="Birthday" placeholder="Ví dụ: 01/01/1900">
                    }

                    @Html.ValidationMessageFor(m => m.BirthDate, "", new { @style = "color: #f00;" })
                </div>
            </div>            <div class="form-group">
                <label class="control-label col-sm-2">Email:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @style = "color:#f00" })
                </div>
            </div>
            <input type="hidden" name="EmployeeID" value="@Model.EmployeeID" />
            <div class="form-group">
                <label class="control-label col-sm-2">Ảnh:</label>
                <div class="col-sm-10">
                    <input type="file" name="uploadPhoto" accept="Images/*"
                           onchange="document.getElementById('Photo').src = window.URL.createObjectURL(this.files[0])">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-sm-10" style=" display: flex; justify-content: center;">
                    <input type="hidden" name="Photo" value="@Model.Photo">
                    <img id="Photo" src="@Model.Photo" width="100"
                         style="object-fit: contain; object-position: center; cursor: pointer;">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-floppy-disk"></i>
                        Lưu dữ liệu
                    </button>
                    <a href="~/Supplier" class="btn btn-danger">
                        Quay lại
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

